.idea
.phpunit.result.cache
.phpunit.cache
composer.lock
coverage
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
.phpactor.json
build
.phpunit.cache

## Annotations
src/DTO/Documents/AnnotationsStamps/*
src/Requests/Documents/AnnotationsStamps/*
src/Responses/Documents/AnnotationsStamps/*
tests/Feature/Requests/Documents/AnnotationsStamps/*
