<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" backupGlobals="false"
         bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false"
         executionOrder="defects" failOnWarning="true" failOnRisky="true" failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
<testsuites>
    <testsuite name="default">
        <directory>tests/Unit</directory>
        <directory>tests/Core</directory>
        <directory>tests/Feature</directory>
        <directory>tests/Manual</directory>
    </testsuite>
    <testsuite name="integration">
        <directory>tests/Integration</directory>
    </testsuite>
</testsuites>
<coverage>
    <report>
        <html outputDirectory="build/coverage"/>
        <text outputFile="build/coverage.txt"/>
        <clover outputFile="build/logs/clover.xml"/>
    </report>
</coverage>
<logging>
    <junit outputFile="build/report.junit.xml"/>
</logging>
<php>
    <env name="APP_KEY" value="base64:F+mHMDBbavrsp/I3WYA5lDSwDJJI/0wQG4eM3csq/lo="/>
    <env name="DOCUWARE_URL" value="https://mcp.docuware.cloud"/>
    <env name="DOCUWARE_PLATFORM_PATH" value="DocuWare/Platform"/>
    <env name="DOCUWARE_USERNAME" value="laravel.docuware"/>
    <env name="DOCUWARE_PASSWORD" value="dKo2f3v3jtT@fj9oN2jAkPBu"/>
    <env name="DOCUWARE_PASSPHRASE" value="u_OBd5xFlK[g:1{8"/>
    <env name="DOCUWARE_TIMEOUT" value="45"/>
    <env name="DOCUWARE_CACHE_DRIVER" value="file"/>
    <env name="DOCUWARE_CACHE_LIFETIME_IN_SECONDS" value="0"/>
    <env name="DOCUWARE_TESTS_ORGANIZATION_ID" value="1"/>
    <env name="DOCUWARE_TESTS_FILE_CABINET_ID" value="e0ca6424-965a-432c-b0ea-aecd3e6ced89"/>
    <env name="DOCUWARE_TESTS_DIALOG_ID" value="00000000-0000-0000-0000-000000000000"/>
    <env name="DOCUWARE_TESTS_BASKET_ID" value="b_a1a7d215-73a0-f245-105c-0f105b292bbf"/>
    <env name="DOCUWARE_TESTS_GROUP_ID" value="c52bc490-1a5a-4b2a-b62f-128ca39c3a24"/>
    <env name="DOCUWARE_TESTS_ROLE_ID" value="6736f654-03be-4e69-9142-44865fdaede2"/>
    <env name="DOCUWARE_TESTS_VERSION_MANAGEMENT_ENABLED" value="true"/>
    <env name="DOCUWARE_TESTS_STAMP_ID" value="243af89a-260d-48e2-bfbc-c732b55933b9"/>
    <env name="DOCUWARE_RECORD_FIXTURES" value="true"/>
</php>
<source>
    <include>
        <directory suffix=".php">./src</directory>
    </include>
</source>
</phpunit>
