<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="codebar Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="DOCUWARE_URL" value="https://domain.docuware.cloud"/>
        <env name="DOCUWARE_USERNAME" value="user@domain.test"/>
        <env name="DOCUWARE_PASSWORD" value="password"/>
        <env name="DOCUWARE_PASSPHRASE" value="passphrase"/>
        <env name="DOCUWARE_COOKIES" value="cookies"/>
        <env name="DOCUWARE_TIMEOUT" value="30"/>

        <env name="DOCUWARE_TESTS_FILE_CABINET_ID" value=""/>
        <env name="DOCUWARE_TESTS_DIALOG_ID" value=""/>
        <env name="DOCUWARE_TESTS_BASKET_ID" value=""/>
        <env name="DOCUWARE_TESTS_FIELD_NAME" value="UUID"/>

        <env name="DOCUWARE_TESTS_DOCUMENT_FILE_SIZE_PREVIEW" value=""/>
        <env name="DOCUWARE_TESTS_DOCUMENT_FILE_SIZE" value=""/>
        <env name="DOCUWARE_TESTS_DOCUMENTS_FILE_SIZE" value=""/>
        <env name="DOCUWARE_TESTS_DOCUMENT_ID" value=""/>
        <env name="DOCUWARE_TESTS_DOCUMENTS_IDS" value="[]"/>
    </php>
</phpunit>
